h6 {
  font-weight: bold;
}

.ion-button-plus-minus {
  width: 30px;
  height: 30px;
}

ion-icon {
  width: 15px;
  height: 15px;
}

.jml-pesan {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

ion-card {
  margin-bottom: 15px;
}

.pesan-makanan {
  padding: 10px;
  height: 60px;
}

.total {
  padding-left: 10px;
  margin-bottom: -5px;
}

.sub-total {
  padding-left: 10px;
  margin-bottom: -5px;
  float: right;
  margin-right: 10px;
}

.img-pesan-makanan {
  width: 100%;
  height: 80%;
  border-radius: 15px;
}

.img-outlet {
  width: 100%;
  height: auto;
}

.title {
  font-size: 15px;
  font-weight: bold;
}

.content {
  font-size: 13px; 
  font-weight: bold;
}

.detail-makanan {
  margin-left: 10px; 
  margin-bottom: 8px;
}