ion-grid {
  margin-top: 10px;
}

ion-button {
  width: 100%;
  height: 100px;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
}

.header-info {
  border-radius: 0px 0px 30px 30px;
  font-size: 23px;
  background: var(--ion-color-primary);
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.1), 0 6px 20px 0 rgb(0, 0, 0, 0.10);
}

.mt {
  margin-top: 100px;
}

.ion-toolbar-header {
  border-radius: 0px 0px 30px 30px;
  font-size: 23px;
}

.icon-kurir {
  width: 50px;
  height: 50px;
}

.icon-percetakan {
  width: 50px;
  height: 50px;
  margin-top: -10px;
}

.icon-pesan-makanan {
  width: 70px;
  height: 50px;
}

.promo-banner {
  background-color:#33cc33; 
  text-align: center;
  height: 24px;
  border-radius: 5px 5px 0px 0px;
}

.label-promo-banner {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.promo-banner-bottom {
  background-color:#33cc33; 
  text-align: center;
  height: 24px;
  border-radius: 0px 0px 5px 5px ;
  margin-bottom: 20px;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  --border-style: none;
}

.footer {
  background-color:#33cc33;
  margin: none;
  height: 15px;
  margin-bottom: -10px;
}